dataset/
data/
*.pt
*.pth
*.bin
*.out
__pycache__/
*.pyc
*.pyo
.DS_Store
*.log
*.txt
*.tmp
!**/CMakeLists.txt
# conda
.conda/
conda-env/
AGENTS.md     
build_local/
build/
gids_profile/
gids_profile01/
cids_profile/